@media screen and (min-width: 768px) {

  main {
    padding-top: 0.6rem;
  }


  .page-heading h1,
  main>h1,
  .thank-you h1 {
    font-size: 2.25rem;
  }

  .menu-button {
    display: none;
  }

  nav {
    position: static;
    display: flex;
    background: none;
    border: none;
    margin-left: auto;
  }

  nav a {
    padding: 0.5rem 0.8rem;
    border: none;
  }

  nav a:hover,
  nav a.active {
    background: none;
    color: var(--text-color);
    text-decoration: underline;
  }

  .member-grid {
    grid-template-columns: repeat(3, 1fr);
  }


  .join-layout {
    grid-template-columns: 2fr 1fr;
    align-items: start;
  }

  input[type="submit"] {
    justify-self: start;
    width: auto;
    min-width: 260px;
  }


  .application-details div {
    grid-template-columns: 220px 1fr;
    align-items: baseline;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}